.cat_area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: auto;
  margin: auto;
  margin-top: 60px;

  img {
    width: 100%;
    height: 170px;
    // -webkit-user-drag: none;
  }
}

// .cat_area:hover,
// button:hover,
// img:hover {
//   cursor: url("../assets/fish.png"), grab;
// }
